body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-weight: bold;
  line-height: 26px;

  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation li:last-child a {
  color: #766357;
}

.hotel-in-list {
  list-style: none;
}

.hotels-catalog-list h3 {
  font-size: 21px;
  line-height: 26px;
}

.hotels-catalog-list h3:hover {
  color: #81b3d2;
}

.hotels-catalog-list h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.type-price-hotel {
  color: #333333;
}

.info-buy-hotel a {
  color: #ffffff;
  font-weight: bold;
  text-align: left;
}

.info-buy-hotel a:first-child {
  background-color: #81b3d2;
}

.info-buy-hotel a:last-child {
  background-color: #766357;
}

.info-buy-hotel a:first-child:hover {
  background-color: #669ec0;
}

.info-buy-hotel a:first-child:active {
  background-color: #5496bd;
}

.info-buy-hotel a:last-child:hover {
  background-color: #604e43;
}

.info-buy-hotel a:last-child:active {
  background-color: #503e33;
}

.main-footer {
  width: 1200px;
  height: 120px;
  opacity: 0.9;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-developers-txt {
  line-height: 26px;
}

.footer-social div {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.main-footer ul {
  list-style: none;
}
