body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  
}

.body-container {
  margin: 0 auto;

  width: 1200px;
  box-shadow: red;
}

.main-header {
  margin-bottom: 60px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
  line-height: 26px;

  color: #000000;
}

.site-navigation {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header-logo {
  width: 140px;
  margin-top: -27px;
  padding: 0 529px;
}

.site-navigation-wrapper {
  width: 1200px;
  margin-bottom: 76px;

  background-color: white;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a {
  width: 239px;
}

.site-navigation li:nth-child(1) a,
.site-navigation li:nth-child(2) a {
  text-align: left;
}

.site-navigation li:nth-child(3) a,
.site-navigation li:nth-child(4) a {
  text-align: right;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.features ul {
  list-style: none;
}

.features li {
  text-align: center;
}

.features .non-h {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.features h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-align: center;
}

.name-features {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.features-town,
.features-devil {
  color: #ffffff;
  background-color: #81b3d2;
}

.desc-feature {
  color: #333333;
}

.features {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 57px;
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.feature-container-devil,
.feature-container-srt {
  order: 2;
}

.feature-container-town {
  width: 1200px;
}

.feature-container-another {
  order: 1;
}
.features-container {
  display: flex;
  justify-content: space-between;

  background-color: #eeeeee;
}

.features-town {
  display: flex;
  justify-content: space-between;
}

.features-devil {
  display: flex;
  justify-content: space-between;
}

.devil-container {
  order: 1;

  margin-top: 49px;
  margin-bottom: 65px;
  margin-left: 48px;
  margin-right: 49px;
}

.another-features {
  display: flex;
  margin-left: 0;
}

.town-container {
  margin-top: 46px;
  margin-bottom: 64px;
  margin-left: 60px;
  margin-right: 60px;
}

.img-town,
.img-devil,
.logo-home,
.logo-burger,
.logo-souvenirs {
  line-height: 0;
}

.form-container {
  width: 568px;
  margin: 0 auto;
}

.find-hotels .non-h {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
}

.find-hotels .pre-form {
  color: #333333;
  line-height: 24px;
  text-align: center;
}

.find-hotels h2 {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.find-hotels h2:hover {
  background-color: #604e43;
}

.find-hotels h2:active {
  background-color: #503e33;
}

.find-hotels-form p {
  font-weight: bold;
  line-height: 26px;
  text-align: left;
}

#arrival-date,
#date-departure {
  font-weight: bold;
}

#num-of-adults,
#num-of-kids {
  text-align: center;
}

.find-hotels-form input,
.find-hotels-form button {
  font: inherit;
  border: none;
  background-color: #f2f2f2;
}

#btn-find {
  width: 458px;
  height: 58px
  font-size: 21px;
  line-height: 26px;

  color: #ffffff;
  background-color: #81b3d2;
}

.date-container {
  width: 346px;
  height: 38px;
}

#btn-find:hover {
  background-color: #669ec0;
}

#btn-find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.num-guest-container button {
  color: silver; /* Зеплин не дал мне вытащить нужный цвет из макета :*/
  font-weight: bold;
}

.num-guest-container button:hover {
  color: black;
}

.num-guest-container button:active {
  color: #669ec0;
  outline: none;
}

#arrival-date:hover,
#date-departure:hover {
  background-color: #ebebeb;
}

#arrival-date:focus,
#date-departure:focus {
  background-color: #ffffff;
  border: solid 2px #ebebeb;
}

.main-footer {
  margin-top: 78px;
  padding: 36px 0;

  opacity: 0.9;
  background-color: blue;
}

.footer-container {
  display: flex;
}

.footer-social {
  width: 150px;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
}

.footer-hashtag {
  margin: 0;
  margin-left: 132px;
  margin-right: 256px;
  width: 136px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-developers {
  margin: 0;
  margin-left: auto;
  width: 187px;
}

.footer-developers-logo {
  line-height: 0;
}

.footer-developers-txt {
  line-height: 26px;
}

.footer-social div {
  width: 46px;

  background-color: #81b3d2;
}

.main-footer ul {
  list-style: none;
}
