body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-container {
  margin: 0 auto;

  width: 1200px;
  box-shadow: red;
}

.main-header {
  margin-bottom: 60px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
  line-height: 26px;

  color: #000000;
}

.site-navigation {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;

  margin: 0;
  padding: 0;

  list-style: none;

  background-color: white;
}

.main-header-logo {
  position: absolute;
  z-index: 1;

  width: 140px;
  height: 71px;
}

.site-navigation a {
  display: block;
  padding: 15px 0;

  vertical-align: middle;

  color: #000000;
}

.site-navigation > li {
  min-width: 239px;
}

.site-navigation > li:nth-child(1),
.site-navigation > li:nth-child(2)  {
  text-align: left;
}

.site-navigation > li:nth-child(3),
.site-navigation > li:nth-child(4) {
  text-align: right;
}

.site-navigation > li:first-child {
  padding-left: 72px;
}

.site-navigation > li:last-child {
  padding-right: 72px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.img-sedona {
  position: relative;

  margin: 0;
  width: 1200px;
  height: 773px;

  background-color: silver;
  background-image: url("img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.img-sedona img {
  display: block;
  margin: 0 auto;
  margin-top: 76px;
}

.img-sedona::after {
  content: "";

  position: absolute;

  width: 1200px;
  height: 59px;

  background-image: url("img/polygon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.features ul {
  list-style: none;
}

.features li {
  text-align: center;
}

.features .non-h {
  margin-bottom: 38px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.features h2 {
  margin: 0;
  margin-bottom: 56px;

  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-align: center;
}

.name-features {
  margin-top: 0;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.features-list > div {
  width: 1200px;
}

.features-town,
.features-devil {
  color: #ffffff;
  background-color: #81b3d2;
}

.desc-feature {
  color: #333333;
}

.features {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 57px;
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 0;
}

.features-devil,
.features-srt {
  order: 2;
}

.another-features {
  order: 1;
}

.features-srt {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 63px;

  background-color: #eeeeee;
}

.features-srt > li {
  width: 252px;
  margin-top: 50px;
}

.features-srt > li:first-child {
  margin-left: 95px;
}

.features-srt > li:last-child {
  margin-right: 77px;
}

.features-town {
  display: flex;
  justify-content: space-between;

  margin-bottom: 60px;
}

.features-devil {
  display: flex;
  justify-content: space-between;
}

.devil-container {
  order: 1;

  width: 303px;
  margin-top: 49px;
  margin-bottom: 65px;
  margin-left: 48px;
  margin-right: 49px;
}

.another-features {
  display: flex;
  padding-left: 0;

  margin-bottom: 60px;
}

.town-container {
  width: 280px;
  margin-top: 46px;
  margin-bottom: 64px;
  margin-left: 60px;
  margin-right: 60px;
}

.town-container > p:last-child,
.devil-container > p:last-child {
  margin-top: 25px;
  margin-bottom: 0;
}

.town-container > p:nth-child(2),
.devil-container > p:nth-child(2) {
  margin: 5px  0;
}


.img-town,
.img-devil,
.logo-home,
.logo-burger,
.logo-souvenirs {
  line-height: 0;
}

.pre-form > p {
  width: 434px;
  margin: 0 auto;
  margin-bottom: 52px
}

.form-container {
  width: 568px;
  margin: 0 auto;
}

.find-hotels .non-h {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
}

.find-hotels .pre-form {
  color: #333333;
  line-height: 24px;
  text-align: center;
}

.find-hotels h2 {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
  margin: 0;
  padding: 30px 139px;
}

.find-hotels h2:hover {
  background-color: #604e43;
}

.find-hotels h2:active {
  background-color: #503e33;
}

.find-hotels-form p {
  font-weight: bold;
  line-height: 26px;
  text-align: left;
}
.find-hotels-form p:first-child {
  margin-top: 55px;
}
.find-hotels-form {
  display: flex;
  flex-wrap: wrap;

  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.find-hotels-item {
  display: flex;
}

.date-container .date-value {
  font-weight: bold;
}

.num-guest-container .num-guest-value {
  text-align: center;
}

.find-hotels-form input,
.find-hotels-form button {
  font: inherit;
  border: none;
  background-color: #f2f2f2;
}

.find-hotels-form  .date-value-dep {
  margin-left: 17px;
}

.find-hotels-form .date-value-arr {
  margin-left: 21px;
}

.find-hotels-form label {
  margin-left: 55px;
  height: 38px;
  line-height: 38px;
}

.find-hotels-form .button-find {
  margin: 0 auto;
  width: 458px;
  height: 58px
  font-size: 21px;
  line-height: 26px;

  color: #ffffff;
  background-color: #81b3d2;
}

.date-container {
  display: flex;
  justify-content: space-between;
  width: 346px;
  height: 38px;
}

.button-find:hover {
  background-color: #669ec0;
}

.button-find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.num-guest-container {
  display: flex;
  width: 114px;
}

.num-guest-value {
  width: 38px;
}

.num-of-adults {
  margin-left: 41px;
}

.num-of-kids {
  margin-left: 27px;
}

.num-guest-container button {
  color: silver; /* Зеплин не дал мне вытащить нужный цвет из макета :*/
  font-weight: bold;
  width: 38px;
  font-size: 23px;
  padding: 0;
}

.num-guest-container button:hover {
  color: black;
}

.num-guest-container button:active {
  color: #669ec0;
  outline: none;
}

.find-hotels-item {
  margin-bottom: 54px;
}

.date-containe .date-value:hover {
  background-color: #ebebeb;
}

.date-container .date-value:focus {
  background-color: #ffffff;
  border: solid 2px #ebebeb;
}



.main-footer {
  margin-top: 78px;
  padding: 36px 0;

  opacity: 0.9;
  background-color: blue;
}

.footer-container {
  display: flex;
}

.footer-social {
  width: 150px;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
}

.footer-hashtag {
  margin: 0;
  margin-left: 132px;
  margin-right: 256px;
  width: 136px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-developers {
  margin: 0;
  margin-left: auto;
  width: 187px;
}

.footer-developers-logo {
  line-height: 0;
}

.footer-developers-txt {
  line-height: 26px;
}

.footer-social div {
  width: 46px;

  background-color: #81b3d2;
}

.footer-social > ul {
  padding-left: 0;
}

.main-footer ul {
  list-style: none;
}

.hotel-in-list {
  list-style: none;
}

.hotels-catalog-list h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.hotels-catalog-list {
  padding-left: 72px;
}

.hotels-catalog-list > li {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.left-container {
  width: 430px;
}

.hotel-rating {
  width: 115px;
}

.hotels-catalog-list h3:hover {
  color: #81b3d2;
}

.hotels-catalog-list h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.type-price-hotel {
  color: #333333;
}

.info-buy-hotel a {
  color: #ffffff;
  font-weight: bold;
  text-align: left;
}

.info-buy-hotel a:first-child {
  background-color: #81b3d2;
}

.info-buy-hotel a:last-child {
  background-color: #766357;
}

.info-buy-hotel a:first-child:hover {
  background-color: #669ec0;
}

.info-buy-hotel a:first-child:active {
  background-color: #5496bd;
}

.info-buy-hotel a:last-child:hover {
  background-color: #604e43;
}

.info-buy-hotel a:last-child:active {
  background-color: #503e33;
}
